@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
  }

  [data-theme='dark'] {
    --color-primary: 111 114 185;
    --color-secondary: 255 115 179;
  }
}

@layer components {
  .navigation-link {
    @apply text-white text-sm opacity-80 hover:opacity-100 transition-opacity duration-300;
  }
}
